cpp/.vs/
cpp/.vscode/
cpp/ALL_BUILD.vcxproj
cpp/ALL_BUILD.vcxproj.filters
cpp/Debug/
cpp/INSTALL.vcxproj
cpp/INSTALL.vcxproj.filters
cpp/RUN_TESTS.vcxproj
cpp/RUN_TESTS.vcxproj.filters
cpp/ZERO_CHECK.vcxproj
cpp/ZERO_CHECK.vcxproj.filters
cpp/arrow.VC.VC.opendb
cpp/arrow.VC.db
cpp/arrow.dir/
cpp/arrow.sln
cpp/arrow.vcxproj
cpp/arrow.vcxproj.filters
cpp/arrow.vcxproj.user
cpp/browse.VC.db
cpp/src/arrow/INSTALL.vcxproj
cpp/src/arrow/INSTALL.vcxproj.filters
cpp/src/arrow/RUN_TESTS.vcxproj
cpp/src/arrow/RUN_TESTS.vcxproj.filters
cpp/src/arrow/array-test.dir/
cpp/src/arrow/array-test.vcxproj
cpp/src/arrow/array-test.vcxproj.filters
cpp/src/arrow/array-test.vcxproj.user
cpp/src/arrow/column-test.dir/
cpp/src/arrow/column-test.vcxproj
cpp/src/arrow/column-test.vcxproj.filters
cpp/src/arrow/ipc/INSTALL.vcxproj
cpp/src/arrow/ipc/INSTALL.vcxproj.filters
cpp/src/arrow/ipc/RUN_TESTS.vcxproj
cpp/src/arrow/ipc/RUN_TESTS.vcxproj.filters
cpp/src/arrow/ipc/ipc-adapter-test.dir/
cpp/src/arrow/ipc/ipc-adapter-test.vcxproj
cpp/src/arrow/ipc/ipc-adapter-test.vcxproj.filters
cpp/src/arrow/ipc/ipc-memory-test.dir/
cpp/src/arrow/ipc/ipc-memory-test.vcxproj
cpp/src/arrow/ipc/ipc-memory-test.vcxproj.filters
cpp/src/arrow/ipc/ipc-metadata-test.dir/
cpp/src/arrow/ipc/ipc-metadata-test.vcxproj
cpp/src/arrow/ipc/ipc-metadata-test.vcxproj.filters
cpp/src/arrow/ipc/metadata_fbs.vcxproj
cpp/src/arrow/ipc/metadata_fbs.vcxproj.filters
cpp/src/arrow/ipc/x64/
cpp/src/arrow/schema-test.dir/
cpp/src/arrow/schema-test.vcxproj
cpp/src/arrow/schema-test.vcxproj.filters
cpp/src/arrow/table-test.dir/
cpp/src/arrow/table-test.vcxproj
cpp/src/arrow/table-test.vcxproj.filters
cpp/src/arrow/types/INSTALL.vcxproj
cpp/src/arrow/types/INSTALL.vcxproj.filters
cpp/src/arrow/types/RUN_TESTS.vcxproj
cpp/src/arrow/types/RUN_TESTS.vcxproj.filters
cpp/src/arrow/types/decimal-test.dir/
cpp/src/arrow/types/decimal-test.vcxproj
cpp/src/arrow/types/decimal-test.vcxproj.filters
cpp/src/arrow/types/list-test.dir/
cpp/src/arrow/types/list-test.vcxproj
cpp/src/arrow/types/list-test.vcxproj.filters
cpp/src/arrow/types/primitive-test.dir/
cpp/src/arrow/types/primitive-test.vcxproj
cpp/src/arrow/types/primitive-test.vcxproj.filters
cpp/src/arrow/types/string-test.dir/
cpp/src/arrow/types/string-test.vcxproj
cpp/src/arrow/types/string-test.vcxproj.filters
cpp/src/arrow/types/struct-test.dir/
cpp/src/arrow/types/struct-test.vcxproj
cpp/src/arrow/types/struct-test.vcxproj.filters
cpp/src/arrow/util/Debug/
cpp/src/arrow/util/INSTALL.vcxproj
cpp/src/arrow/util/INSTALL.vcxproj.filters
cpp/src/arrow/util/RUN_TESTS.vcxproj
cpp/src/arrow/util/RUN_TESTS.vcxproj.filters
cpp/src/arrow/util/arrow_test_main.dir/
cpp/src/arrow/util/arrow_test_main.vcxproj
cpp/src/arrow/util/arrow_test_main.vcxproj.filters
cpp/src/arrow/util/arrow_test_main.vcxproj.user
cpp/src/arrow/util/bit-util-test.dir/
cpp/src/arrow/util/bit-util-test.vcxproj
cpp/src/arrow/util/bit-util-test.vcxproj.filters
cpp/src/arrow/util/buffer-test.dir/
cpp/src/arrow/util/buffer-test.vcxproj
cpp/src/arrow/util/buffer-test.vcxproj.filters
cpp/src/arrow/util/memory-pool-test.dir/
cpp/src/arrow/util/memory-pool-test.vcxproj
cpp/src/arrow/util/memory-pool-test.vcxproj.filters
cpp/unittest.vcxproj
cpp/unittest.vcxproj.filters
cpp/x64/
