cpp/.vs/
cpp/.vscode/
cpp/arrow.dir/
cpp/arrow.sln
cpp/arrow.VC.db
cpp/arrow.VC.VC.opendb
cpp/browse.VC.db
cpp/Debug/
cpp/src/arrow/array-test.dir/
cpp/src/arrow/column-test.dir/
cpp/src/arrow/ipc/ipc-adapter-test.dir/
cpp/src/arrow/ipc/ipc-memory-test.dir/
cpp/src/arrow/ipc/ipc-metadata-test.dir/
cpp/src/arrow/ipc/x64/
cpp/src/arrow/schema-test.dir/
cpp/src/arrow/table-test.dir/
cpp/src/arrow/types/decimal-test.dir/
cpp/src/arrow/types/list-test.dir/
cpp/src/arrow/types/primitive-test.dir/
cpp/src/arrow/types/string-test.dir/
cpp/src/arrow/types/struct-test.dir/
cpp/src/arrow/util/arrow_test_main.dir/
cpp/src/arrow/util/bit-util-test.dir/
cpp/src/arrow/util/buffer-test.dir/
cpp/src/arrow/util/memory-pool-test.dir/
cpp/x64/
cpp/src/arrow/util/Debug/
